BOT_TOKEN='...'
REDIS_DSN=redis://redis:6379/0
MANIFEST_URL=https://tontastic.art/manifest.json
WEBAPP_URL=https://tontastic.art/tma
CONTRACT_ADDRESS=EQD_dnNuvG4jJxPo2BIv0s_LyStjm3JMX6UTU_XxonSiOF44
TONLIB_CONFIG=https://ton.org/global-config.json
